:root {
  --bs-body-color: #F27127; 
  --bs-body-bg: #260101;
  --bs-secondary-color: #F28A2E;
  --bs-border-color: #A62F03;
  --bs-emphasis-color: #AB0E21;
}

div#gameValue h1.new {
  font-size: 4em;
  opacity: 1;
}

div#gameValue h1.faded {
  font-size: 4em;
  opacity: 0.5;
  transition: opacity 1.5s linear;
}

div#gameValue h1.clicked {
  font-size: 4em;
  opacity: 1;
  color: var(--bs-emphasis-color);
}

div.flash
{
  color: var(--bs-emphasis-color);
  font-weight: bold;
  transition: color 1s linear;
  transition: font-weight 1s linear;
}
