:root {
  --bs-body-color: #BC3908; 
  --bs-body-bg: #220901;
  --bs-secondary-color: #941B0C;
  --bs-border-color: #621708;
  --bs-emphasis-color: #F6AA1C;
}

div#gameValue h1.new {
  font-size: 4em;
  opacity: 1;
}

div#gameValue h1.faded {
  font-size: 4em;
  opacity: 0.5;
  transition: opacity 1.5s linear;
}

div#gameValue h1.clicked {
  font-size: 4em;
  opacity: 1;
  color: var(--bs-emphasis-color);
}

div.flash {
  color: var(--bs-emphasis-color);
  font-weight: bold;
  transition: color 1s linear;
  transition: font-weight 1s linear;
}

div.unflashed {
  transition: color 1s linear;
  transition: font-weight 1s linear;
}
